<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main id="mainContent" class="main-content" th:fragment="myOrderList">
        <div class="page-container ptb-20">
        <div class="container">
            <section class="wishlist-area ptb-30">
                <div class="container">
                    <div class="wishlist-wrapper">
                        <h3 class="h-title mb-40 t-uppercase">我的订单</h3>
                        <table th:if="${orderPageList.size()} ne 0" th:each="orderPage:${orderPageList}" id="cart_list" class="wishlist">
                            <tr>
                                <td>
                                    <table id = "storeOrder1">
                                        <tr>
                                            <th style="font-size: 20px;"><i class="fa fa-home"></i>&nbsp;<span th:text="${orderPage.getShopBaseInfo().getShopName()}">店铺名</span></th>
                                            <th></th>
                                            <th></th>
                                            <th th:if="!${orderPage.getOrderInfo().getIsPaid()}" th:text="未支付" style="font-size: 18px;"></th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state01' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="未发货">订单状态</th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state02' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="已发货">订单状态</th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state03' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="已收货">订单状态</th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state04' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="退款中">订单状态</th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state05' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="已退款">订单状态</th>
                                            <th style="font-size: 18px;" th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state06' and ${orderPage.getOrderInfo().getIsPaid()}" th:text="拒绝退款">订单状态</th>
                                        </tr>
                                        <!--人名币购买样式-->
                                        <tr th:if="${orderPage.getOrderInfo().getTypeUid()} eq 'type01'" class="panel alert" th:each="goodsInfo:${orderPage.getGSN()}">
                                            <td class="col-sm-6 col-md-6">
                                                <div class="media-left is-hidden-sm-down">
                                                    <figure class="product-thumb">
                                                        <img th:src="${goodsInfo.getGoods().getImgUrl()}" alt="product">
                                                    </figure>
                                                </div>
                                                <div class="media-body valign-middle">
                                                    <h5 class="title mb-5 t-uppercase"><a href="#" th:text="${goodsInfo.getGoods().getGoodsName()}">商品名字</a></h5>
                                                    <h4 class="price color-green">
                                                        <span class="price-sale" th:text="'¥'+${goodsInfo.getGoods().getPrice()}" th:if="${goodsInfo.getGoods().getDiscountPrice()} lt ${goodsInfo.getGoods().getPrice()}">原始价格</span>
                                                        <span th:text="'¥'+${goodsInfo.getGoods().getDiscountPrice()}">优惠价格/原始价格</span>
                                                    </h4>
                                                </div>
                                            </td>
                                            <td class="col-sm-2 col-md-2" th:text="${goodsInfo.getGoodsSpecification().getSpecificationName()}">商品规格</td>
                                            <td class="col-sm-2 col-md-2 is-hidden-xs-down">
                                                <span style="font-size: 20px;" th:text="'x'+${goodsInfo.getAmount()}">数量</span>
                                            </td>
                                            <td class="col-sm-2 col-md-2" >
                                                <span style="font-size:20px;" th:text="'¥'+${goodsInfo.getAmount()} * ${goodsInfo.getGoods().getPrice()}">单件商品总价</span>
                                            </td>
                                        </tr>
                                        <!--积分购买样式-->
                                        <tr th:if="${orderPage.getOrderInfo().getTypeUid()} eq 'type01'" class="panel alert" th:each="goodsInfo:${orderPage.getGSY()}">
                                            <td class="col-sm-6 col-md-6">
                                                <div class="media-left is-hidden-sm-down">
                                                    <figure class="product-thumb">
                                                        <img th:src="${goodsInfo.getGoods().getImgUrl()}" alt="product">
                                                    </figure>
                                                </div>
                                                <div class="media-body valign-middle">
                                                    <h5 class="title mb-5 t-uppercase"><a href="#" th:text="${goodsInfo.getGoods().getGoodsName()}">商品名字</a></h5>
                                                    <h4 class="price color-green">
                                                        <span th:text="'@'+${goodsInfo.getGoods().getPoints()}+'积分'">优惠价格/原始价格</span>
                                                    </h4>
                                                </div>
                                            </td>
                                            <td class="col-sm-2 col-md-2" th:text="${goodsInfo.getGoodsSpecification().getSpecificationName()}">商品规格</td>
                                            <td class="col-sm-2 col-md-2 is-hidden-xs-down">
                                                <span style="font-size: 20px;" th:text="'x'+${goodsInfo.getAmount()}">数量</span>
                                            </td>
                                            <td class="col-sm-2 col-md-2" >
                                                <span style="font-size:20px;" th:text="'@'+${goodsInfo.getAmount()} * ${goodsInfo.getGoods().getPoints()}+'积分'">单件商品总价</span>
                                            </td>
                                        </tr>
                                        <!-- 余额充值样式-->
                                        <tr th:if="${orderPage.getOrderInfo().getTypeUid()} eq 'type02'" class="panel alert">
                                            <td class="col-sm-6 col-md-6">
                                                <div class="media-left is-hidden-sm-down">
                                                    <figure class="product-thumb">
                                                        <img th:src="${orderPage.getShopBaseInfo().getImgUrl()}" alt="product">
                                                    </figure>
                                                </div>
                                                <div class="media-body valign-middle">
                                                    <h5 class="title mb-5 t-uppercase"><a href="#">余额充值</a></h5>
                                                    <h4 class="price color-green">
                                                        <span th:text="'¥'+${orderPage.getOrderInfo().getPrice()}">优惠价格/原始价格</span>
                                                    </h4>
                                                </div>
                                            </td>
                                            <td class="col-sm-2 col-md-2"></td>
                                            <td class="col-sm-2 col-md-2 is-hidden-xs-down">
                                                <span style="font-size: 20px;">x1</span>
                                            </td>
                                            <td class="col-sm-2 col-md-2" >
                                                <span style="font-size:20px;" th:text="'¥'+${orderPage.getOrderInfo().getPrice()}">单件商品总价</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td align="right">
                                                <button th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state02'" class="btn btn-rounded btn-sm mt-15">确认收货</button>
                                                <button th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state03'" class="btn btn-rounded btn-sm mt-15">点击评价</button>
                                            </td>
                                            <td align="right">
                                                <button th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state02'" style="background-color: yellowgreen" class="btn btn-rounded btn-sm mt-15">申请退款</button>
                                                <button th:if="${orderPage.getOrderInfo().getStateUid()} eq 'state03'" style="background-color: red;" class="btn btn-rounded btn-sm mt-15" th:onclick="tryToDeleteOrder([[${orderPage.getOrderInfo().getId()}]])">删除订单</button>

                                            </td>
                                            <td>
                                                <p th:text="'共'+${orderPage.getTotalAmount()}+'件商品'"></p>
                                                <p th:if="${orderPage.getTotalPrice()} ne 0.00" th:text="'总价：¥'+${orderPage.getOrderInfo().getPrice()}"></p>
                                                <p th:if="${orderPage.getTotalPoints()} ne 0" th:text="'总积分：@'+${orderPage.getOrderInfo().getPrice()}"></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="page-pagination text-center mt-30 p-10 panel"   th:if="${orderPageList.size()} eq 0"><p>暂时没有订单呢，快去买买买吧～！</p></div>
                        <div th:if="${orderPageList.size()} ne 0" class="page-pagination text-center mt-30 p-10 panel">
                            <nav>
                                <!-- Page Pagination -->
                                <ul class="page-pagination">
                                    <li><a class="page-numbers previous" th:if="${currentPage} ne 1" th:href="@{/myorder(page=${currentPage}-1)}">Previous</a>
                                    </li>
                                    <li th:each="number:${pageNumberList}">
                                        <a class="page-numbers" th:if="${number} ne ${currentPage}" th:text="${number}" th:href="@{/myorder(page=${number})}"></a>
                                        <span th:if="${number} eq ${currentPage}" class="page-numbers current" th:text="${number}"></span>
                                    </li>
                                    <li><a class="page-numbers next" th:if="(${currentPage} ne ${pageAmount}) and (${currentPage} ne 1)" th:href="@{/myorder(page=${currentPage}+1)}">Next</a>
                                    </li>
                                </ul>
                                <!-- End Page Pagination -->
                            </nav>
                        </div>
                        <!-- 删除订单模态框（Modal） -->
                        <div class="modal fade" id="deleteOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="deleteOrderModalHead">
                                            删除订单
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您确认要删除此订单吗？
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancelDeleteOrder()">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmDeleteOrder()">
                                            提交更改
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                        <!-- 结果返回模态框（Modal） -->
                        <div class="modal fade" id="deleteOrderResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="deleteOrderResultModalHead">
                                            删除结果
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p id="deleteOrderResult"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </main>
</body>
</html>