<!DOCTYPE html>
<!--[if lt IE 9 ]> <html lang="en" dir="ltr" class="no-js ie-old"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" dir="ltr" class="no-js ie9"> <![endif]-->
<!--[if IE 10 ]> <html lang="en" dir="ltr" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" dir="ltr" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- META TAGS                                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PAGE TITLE                                -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <title>FRIDAY | Coupons, Deals, Discounts and Promo codes Template</title>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- SEO METAS                                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="FRIDAY is a responsive multipurpose-ecommerce site template allows you to store coupons and promo codes from different brands and create store for deals, discounts, It can be used as coupon website such as groupon.com and also as online store">
    <meta name="	black friday, coupon, coupon codes, coupon theme, coupons, deal news, deals, discounts, ecommerce, friday deals, groupon, promo codes, responsive, shop, store coupons">
    <meta name="robots" content="index, follow">
    <meta name="author" content="CODASTROID">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PAGE FAVICON                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" th:href="@{/images/favicon/apple-touch-icon.png}">
    <link rel="icon" th:href="@{/images/favicon/favicon.ico}">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- GOOGLE FONTS                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Include CSS Filess                        -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font Awesome -->
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Linearicons -->
    <link th:href="@{/vendors/linearicons/css/linearicons.css}" rel="stylesheet">

    <!-- Owl Carousel -->
    <link th:href="@{/vendors/owl-carousel/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/owl-carousel/owl.theme.min.css}" rel="stylesheet">

    <!-- Flex Slider -->
    <link th:href="@{/vendors/flexslider/flexslider.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/icon-fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/shop.css}" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/css/demo-style.css}" type="text/css" media="all" />
    <script th:src="@{/js/modernizr-3.2.0.base.js}"></script>

</head>

<body id="body" class="wide-layout preloader-active site_full preloader3 menu_no_transparent classic_menu horizontal_menu light_header dark_sup_menu shopping-commerce shopping-commerce-page">




<!--[if lt IE 9]>
<p class="browserupgrade alert-error">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->

<noscript>
    <div class="noscript alert-error">
        For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">
        instructions how to enable JavaScript in your web browser</a>.
    </div>
</noscript>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- PRELOADER                                 -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- Preloader -->
<div id="preloader" class="preloader">
    <div class="loader-cube">
        <div class="loader-cube__item1 loader-cube__item"></div>
        <div class="loader-cube__item2 loader-cube__item"></div>
        <div class="loader-cube__item4 loader-cube__item"></div>
        <div class="loader-cube__item3 loader-cube__item"></div>
    </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER                                   -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
    <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
    <header id="mainHeader" class="main-header">

        <!-- Top Bar -->
        <div class="top-bar bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 is-hidden-sm-down">
                        <ul class="nav-top nav-top-left list-inline t-left">
                            <li><a href="terms_conditions.html"><i class="fa fa-question-circle"></i>Discounts Guide</a>
                            </li>
                            <li><a href="faq.html"><i class="fa fa-support"></i>Customer Assistance</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <ul class="nav-top nav-top-right list-inline  t-xs-center t-md-right ">
                            <li th:if="${!isSignin}"><a th:href="@{/signin_page}"><i class="fa fa-lock"></i>登陆</a></li>
                            <li th:if="${!isSignin}"><a th:href="@{/signup_page}"><i class="fa fa-user"></i>注册</a></li>
                            <li th:if="${!user.getIsSeller()}">
                                <a href="#"><i class="fa fa-usd"></i>申请店铺</a>
                            </li>
                            <li th:if="${isSignin}">
                                <span th:text="'你好，'+${user.getUserName()}"></span>
                            </li>
                            <li th:if="${user.getIsSeller()} and ${isSignin}">
                                <a th:href="@{/MyStore/mystore}"><i class="fa fa-usd"></i>我的店铺</a>
                            </li>
                            <li th:if="${isSignin}">
                                <a th:href="@{/myinfo}"><i class="fa fa-user"></i>我的信息</a>
                            </li>
                            <li><a th:if="${isSignin}" th:href="@{/signout}">退出登陆</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->

        <!-- Header Header -->
        <div class="header-header bg-white">
            <div class="container">
                <div class="row row-rl-0 row-tb-20 row-md-cell">
                    <div class="brand col-md-3 t-xs-center t-md-left valign-middle">
                        <a th:href="@{/index}" class="logo">
                            <img th:src="@{/images/logo.png}" alt="" width="250">
                        </a>
                    </div>
                    <div class="header-search col-md-9">
                        <div class="row row-tb-10 ">
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="inputSearchKey" type="text" class="form-control input-lg search-input" placeholder="在此输入搜索关键词..." required="required">
                                    <div class="input-group-btn">
                                        <div class="input-group">
                                            <select id="chooseSearch" class="form-control input-lg search-select">
                                                <option value="goods">商品</option>
                                                <option  value="stores">店铺</option>
                                            </select>
                                            <div class="input-group-btn">
                                                <button onclick="search()" class="btn btn-lg btn-search btn-block">
                                                    <i class="fa fa-search font-16"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 t-xs-center t-md-right">
                                <div class="header-cart">
                                    <a th:href="@{/Cart}">
                                        <span class="icon lnr lnr-cart"></span>
                                        <!--<div><span class="cart-number" th:text="${cart.totalAmount}"></span>-->
                                        <!--</div>-->
                                        <span class="title">Cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Header -->

        <!-- Header Menu -->

        <!-- End Header Menu -->

    </header>
    <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

    <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
    <main id="mainContent" class="main-content">
        <div class="page-container ptb-60 hm_woo_page clearfix">
            <div class="internal_post_con clearfix">
                <div class="hm_shop_page clearfix entry-content">
                    <div class="shop_product_wrapper clearfix" style="padding: 0;">
                        <div class="product">
                            <div class="content container">
                                <div><h3 class="h-title mb-40 t-uppercase"><i class="fa fa-home"></i><a th:href="@{/shop(shopUid=${goodsInfo.getShop().getUid()})}" th:text="${goodsInfo.getShop().getShopName()}"></a></h3></div>
                                <span class="onsale">Sale!</span>
                                <div class="single_product_slider">
                                    <span class="sale_new" th:if="${goodsInfo.getGoods().getPrice() gt goodsInfo.getGoods().getDiscountPrice()}"><span class="text">Sale!</span></span>
                                    <div class="thumbs_gall_slider_con content_thumbs_gall gall_arrow2">
                                        <div class="thumbs_gall_slider_larg owl_abs_arr">
                                            <div class="item">
                                                <a class="feature_inner_ling hm_commerce_slider" th:href="${goodsInfo.getGoods().getImgUrl()}">
                                                    <img th:src="${goodsInfo.getGoods().getImgUrl()}">
                                                </a>
                                            </div>
                                            <div class="item" th:each="goodsDetailImg : ${goodsInfo.getGoodsDetailImg()}">
                                                <a class="feature_inner_ling hm_commerce_slider" th:href="${goodsDetailImg}">
                                                    <img th:src="${goodsDetailImg}">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="gall_thumbs">
                                            <div class="item">
                                                <a class="gall_thumb_i" th:href="${goodsInfo.getGoods().getImgUrl()}">
                                                    <img th:src="${goodsInfo.getGoods().getImgUrl()}">
                                                </a>
                                            </div>
                                            <div class="item" th:each="goodsDetailImg : ${goodsInfo.getGoodsDetailImg()}">
                                                <a class="gall_thumb_i" th:href="${goodsDetailImg}">
                                                    <img th:src="${goodsDetailImg}">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- End single_product_slider -->

                                <div class="single_product_details">
                                    <h1 class="product_title single_product_title" th:text="${goodsInfo.getGoods().getGoodsName()}">商品名称</h1>
                                    <div class="shopping-commerce-product-rating">
                                        <div class="star-rating" title="Rated 5 out of 5">
                                            <span style="width:100%"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div th:if="${payWay} eq 'money'" class="single_product_price_con clearfix">
                                            <del th:if="${goodsInfo.getGoods().getPrice() gt goodsInfo.getGoods().getDiscountPrice()}" th:text="'¥'+${goodsInfo.getGoods().getPrice()}"></del>
                                            <ins th:if="(${goodsInfo.getGoods().getPrice() gt goodsInfo.getGoods().getDiscountPrice()}) or (${goodsInfo.getGoods().getPrice() eq goodsInfo.getGoods().getDiscountPrice()})" th:text="'¥'+${goodsInfo.getGoods().getDiscountPrice()}"></ins>
                                        </div>
                                        <div th:if="${payWay} eq 'points'" class="single_product_price_con clearfix">
                                            <ins th:text="'积分兑换：@'+${goodsInfo.getGoods().getPoints()}"></ins>
                                        </div>
                                    </div>
                                    <div class="single_product_desc">
                                        <p th:text="${goodsInfo.getGoods().getDescriptions()}"></p>
                                        <p>商品规格选择：</p>
                                        <input th:onclick="chooseSpecification([[${(specification.getUid())}]])" th:each="specification : ${goodsInfo.getGoodsSpecification()}" type="radio" th:name="${goodsInfo.getGoods().getUid()}" th:value="${specification.getUid()}" th:text="${specification.getSpecificationName()}+' '"/>
                                    </div>
                                    <div class="cart">
                                        <div class="quantity buttons_added clearfix">
                                            <div class="quantity_controll_con">
                                                <input type="button" class="quantity_controll minus" value="-">
                                                <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" id="goodsAmount"/>
                                                <input type="button" class="quantity_controll plus" value="+">
                                            </div>
                                        </div>
                                        <button class="single_add_to_cart_button button alt" th:onclick="addToCart([[${goodsInfo.getGoods().getUid()}]], [[${payWay}]])">添加到购物车</button>
                                    </div>
                                    <!-- End Form -->

                                    <div class="product_meta">
                                        <div class="sku_wrapper">
                                            <b>SKU:</b>
                                            <span class="sku">002</span>
                                        </div>
                                        <div class="tags_con">
                                            <span class="post_tag_t2">Categories</span>
                                            <a href="#" rel="tag">Jeans</a>
                                            <a href="#" rel="tag">Men</a>
                                            <a href="#" rel="tag">T-Shirts</a>
                                        </div>
                                    </div>

                                </div>
                                <!-- End single_product_details -->
                                <div class="clear"></div>

                            </div>
                            <!-- End Content -->

                            <!-- Content -->
                            <div class="content">
                                <div class="hm-tabs tabs2">

                                    <nav>
                                        <ul class="tabs-navi">
                                            <li class="description_tab">
                                                <a href="#" data-content="tab-description">商品详情</a>
                                            </li>
                                            <li class="reviews_tab">
                                                <a href="#" data-content="tab-reviews">商品评论<span th:text="'('+${goodsInfo.getGoodsReviewList().size()}+')'"></span></a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <ul class="tabs-body">
                                        <li data-content="tab-description">
                                            <h2>商品详情</h2>
                                            <p th:text="${goodsInfo.getGoods().getDescriptions()}"></p>
                                        </li>
                                        <li data-content="tab-reviews">
                                            <div id="reviews">
                                                <div id="comments">
                                                    <h2><span th:text="${goodsInfo.getGoodsReviewList().size()}"></span> 条评论</h2>
                                                    <ol class="commentlist">
                                                        <div th:if="${goodsInfo.getGoodsReviewList().size() eq 0}"><p>暂时还没有评论</p></div>
                                                        <li th:if="${goodsInfo.getGoodsReviewList().size() ne 0}" th:each="review:${goodsInfo.getGoodsReviewList()}">
                                                            <div id="comment-1" class="comment_container">
                                                                <div class="comment-text">

                                                                    <div class="star-rating" title="Rated 5 out of 5">
                                                                        <span style="width:100%"></span>
                                                                    </div>

                                                                    <p class="meta"> <strong th:text="'用户'+${review.getUserUid()}"></strong> &nbsp;
                                                                        <time th:text="${#dates.format(review.getCreateDate(),'MM月dd日')}">评论日期</time>
                                                                        : </p>
                                                                    <div class="description">
                                                                        <p th:text="${review.getReview()}">商品评论</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <div class="clear"></div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Content -->

                            <!-- Related Products -->
                            <div class="content_section hm_woo_related bg_gray2">
                                <div class="content content_spacer clearfix">
                                    <div class="container shop_related_title">
                                        <h2>相似商品</h2>
                                    </div>
                                    <div class="related products">
                                        <div th:if="${goodsInfo.getRecommendGoods().size()==0}"><p>暂时没有推荐的商品，期待店家上新吧</p></div>
                                        <ul class="products" th:if="${goodsInfo.getRecommendGoods().size()!=0}">
                                            <li class="product" th:each="recommendsGoods : ${goodsInfo.getRecommendGoods()}">
                                                <div class="add2cart_slide">
                                                    <div class="add2cart_image">
                                                        <a href="#" class="add2cart_img">
                                                            <span class="sale_new" th:if="${recommendsGoods.getPrice() gt recommendsGoods.getDiscountPrice()}"><span class="text">Sale!</span></span>
                                                            <span class="add2cart_zoom"><i class="ico-plus10"></i></span>
                                                            <img th:src="${recommendsGoods.getImgUrl()}" alt="Vintage Jeans">
                                                        </a>
                                                    </div>
                                                    <div class="add2cart_details">
                                                        <div class="con_cont">
                                                            <a class="add2cart_prod_name" href="#" th:text="${recommendsGoods.getGoodsName()}">商品名称</a>
                                                            <span class="price add2cart_prod_price">
                                                                <del th:if="${recommendsGoods.getPrice() gt recommendsGoods.getDiscountPrice()}" th:text="'¥'+${recommendsGoods.getPrice()}"></del>
                                                                <ins th:if="(${recommendsGoods.getPrice() gt recommendsGoods.getDiscountPrice()}) or (${recommendsGoods.getPrice() eq recommendsGoods.getDiscountPrice()})" th:text="'¥'+${recommendsGoods.getDiscountPrice()}"></ins>
                                                            </span>
                                                            <div class="hm_rating_con clearfix">
                                                                <div class="star-rating" title="Rated 2 out of 5">
                                                                    <span style="width:100%"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add2cart_buttons clearfix">
                                                            <a href="#" class="pro_add2cart_add add2cart_btn_ajax">
                                                                <i class="refresh_loader ico-refresh4"></i>
                                                                <i class="hm_cart_icon ico-heart4"></i>
                                                                <i class="hm_cart_added ico-check3"></i>
                                                                <span>添加到购物车</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Related Products -->

                        </div>
                        <!-- End product -->
                    </div>
                    <!-- End shop_product_wrapper -->

                </div>
            </div>
        </div>
    </main>
    <!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
    <section class="footer-top-area pt-70 pb-30 pos-r bg-blue">
        <div class="container">
            <div class="row row-tb-20">
                <div class="col-sm-12 col-md-7">
                    <div class="row row-tb-20">
                        <div class="footer-col col-sm-6">
                            <div class="footer-about">
                                <img class="mb-40" th:src="@{/images/logo_light.png}" width="250" alt="">
                                <p class="color-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam dolores quidem mollitia id ipsa nisi necessitatibus iure repudiandae aperiam, odit ipsam dolor fugiat corporis nesciunt illo nemo minus.</p>
                            </div>
                        </div>
                        <div class="footer-col col-sm-6">
                            <div class="footer-top-twitter">
                                <h2 class="color-lighter">Twitter Feed</h2>
                                <ul class="twitter-list">
                                    <li class="single-twitter">
                                        <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@masum_rana :</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore in reprehenderit.</p>
                                    </li>
                                    <li class="single-twitter">
                                        <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@masum_rana :</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione id corrupti iusto cupiditate omnis.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="row row-tb-20">
                        <div class="footer-col col-sm-6">
                            <div class="footer-links">
                                <h2 class="color-lighter">Quick Links</h2>
                                <ul>
                                    <li><a href="deals_grid.html">Latest Deals</a>
                                    </li>
                                    <li><a href="coupons_grid.html">Newest Coupons</a>
                                    </li>
                                    <li><a href="contact_us_02.html">Contact Us</a>
                                    </li>
                                    <li><a href="404.html">Error 404</a>
                                    </li>
                                    <li><a href="terms_conditions.html">Terms of Use</a>
                                    </li>
                                    <li><a href="faq.html">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col col-sm-6">
                            <div class="footer-top-instagram instagram-widget">
                                <h2>Instagram Widget</h2>
                                <div class="row row-tb-5 row-rl-5">


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_01.jpg}" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_02.jpg}" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_03.jpg}" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_04.jpg}" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_05.jpg}" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img th:src="@{/images/instagram/instagram_06.jpg}" alt="">
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="payment-methods t-center">
                        <span><img th:src="@{/images/icons/payment/paypal.jpg}" alt=""></span>
                        <span><img th:src="@{/images/icons/payment/visa.jpg}" alt=""></span>
                        <span><img th:src="@{/images/icons/payment/mastercard.jpg}" alt=""></span>
                        <span><img th:src="@{/images/icons/payment/discover.jpg}" alt=""></span>
                        <span><img th:src="@{/images/icons/payment/american.jpg}" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- –––––––––––––––[ FOOTER ]––––––––––––––– -->
    <footer id="mainFooter" class="main-footer">
        <div class="container">
            <div class="row">
                <p>Copyright &copy; 2016 . All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- –––––––––––––––[ END FOOTER ]––––––––––––––– -->

</div>
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- END WRAPPER                               -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->


<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- BACK TO TOP                               -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="backTop" class="back-top is-hidden-sm-down">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- SCRIPTS                                   -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->

<!-- (!) Placed at the end of the document so the pages load faster -->

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- Initialize jQuery library                 -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<script th:src="@{/js/jquery-1.12.3.min.js}"></script>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- Latest compiled and minified Bootstrap    -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- JavaScript Plugins                        -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- (!) Include all compiled plugins (below), or include individual files as needed -->

<!-- Modernizer JS -->
<script th:src="@{/vendors/modernizr/modernizr-2.6.2.min.js}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>

<!-- FlexSlider -->
<script type="text/javascript" th:src="@{/vendors/flexslider/jquery.flexslider-min.js}"></script>

<!-- Coutdown -->
<script type="text/javascript" th:src="@{/vendors/countdown/jquery.countdown.js}"></script>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- Custom Template JavaScript                   -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" th:src="@{/js/main.js}"></script>


<script type="text/javascript" th:src="@{/js/jquery-migrate-1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins.min.js}"></script>
<script type="text/javascript" th:src="@{/js/functions.js}"></script>
<script th:inline="javascript">
    var chooseSpecificationId = -1;//选择的商品的规格uid
    function chooseSpecification(specification){
        chooseSpecificationId = specification;
    }
    function addToCart(goodsUid, payWay) {
        if(chooseSpecificationId == -1){
            alert("未选择商品规格");
        }else{
            window.location.href="/addGoodsToCart?goodsUid="+goodsUid+"&specificationUid="+chooseSpecificationId+"&counts="+$("#goodsAmount").val()+"&payWay="+payWay;
        }
    }
</script>
<script>
    function search() {
        window.location.href="/search?searchKey="+$("#inputSearchKey").val()+"&searchCategory="+$("#chooseSearch option:selected").val();
    }
</script>
</body>

</html>
